.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
    transition: opacity 0.3s ease;
  }
  
  .modalBackground {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 99;
      transition: opacity 0.3s ease;
    }
  
  
    .modal {
      border-radius: 4px;
      max-width: 560px;
      text-align: center;
      z-index: 100;
      overflow: hidden;
      background-color: #bd3c3c;
    }
  
  .modalHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #e23939;
    padding: 10px;
  }
    
    .modalTitle {
      color: white;
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .modalContent {
      color: white;
      font-size: 18px;
      padding: 10px;
      margin-bottom: 20px;
    }
    
    .closeModalButton {
      display: flex;
      justify-content: end;
      font-size: 30px;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .closeModalButton:hover {
      transform: scale(1.2);
    }